---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Homepage";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>See a random greeting below</h2>
  <Greeting
    client:load
    messages={["Hi", "Howdy", "Hello", "Hey there", "Hey you"]}
  />
</BaseLayout>
